.text-heading {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.text-para {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
}
.content {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.products-main-list-container {
  align-self: center;
  width: 95%;
}

.main-bg-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.products-and-filters-container {
  display: flex;
  align-self: center;
  width: 95%;
  min-height: 100vh;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}

.check {
  margin-bottom: 15px;
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
}

.checkbox-el {
  padding-left: 0px;
  margin-left: 0px;
}

.filters-list-container {
  width: 60%;
  background-color: white;
  align-self: stretch;
  padding-top: 10px;
}

.products-list {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-details {
  width: 100%;
}

.filter {
  width: 100%;
  padding-top: 15px;
  border-top: 0.6px solid #e5e5e5;
  padding-bottom: 5px;
}

.filter-last {
  width: 100%;
  padding-top: 15px;
  border-top: 0.6px solid #e5e5e5;
  border-bottom: 0.6px solid #e5e5e5;
  padding-bottom: 5px;
}

.products-container {
  overflow: auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img {
  width: 168px;
}

.filter-name {
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 0px;
}

.footer-container {
  background-color: black;
  min-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.filters-heading-name {
  font-size: 12px;
  font-weight: 700;
  width: 100%;
}

.filters-heading-name::after {
  content: "";
  width: 14px;
  height: 14px;
  background: url("https://res.cloudinary.com/dzjz2ts9c/image/upload/v1724827357/arrow-left_a02ioa.svg");
  background-size: cover;
  transition: 0.2s;
  align-self: flex-start;
}

.filter-details-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.filter-name {
  font-weight: 700;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.filter-selected {
  padding-top: 8px;
  margin-top: 0px;
  font-weight: 400;
}

.small-head {
  width: 100%;
}

.large-head {
  width: 100%;
  display: none;
}

.top-container {
  background-color: black;
  height: 24px;
  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .small-head {
    display: none;
  }
  .large-head {
    display: flex;
  }
  .text-heading {
    margin-top: 10px;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 15px;
  }
  .text-para {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }
  .products-main-list-container {
    width: 90%;
  }
  .products-and-filters-container {
    width: 90%;
  }
  .filters-list-container {
    width: 35%;
  }

  .check {
    font-size: 14px;
  }

  .filters-heading-name {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .text-heading {
    margin-top: 10px;
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 15px;
  }
  .text-para {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }
  .products-main-list-container {
    width: 90%;
  }
  .products-and-filters-container {
    width: 90%;
  }
  .filters-list-container {
    width: 25%;
  }

  .check {
    font-size: 16px;
  }
  .filters-heading-name {
    font-size: 16px;
  }
}
